* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #fff;
    background-color: #191919;
}

a {
    font-family: sans-serif;
    text-decoration: none;
    color: gray;
}

table {
    width: 75%;
    border-collapse: collapse;
    margin: 0 auto;
}

th,
td {
    border: 2px solid #fff;
    text-align: center;
    padding: 8px;
    color: #fff
}

ul {
    list-style-type: disc;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ol {
    list-style-type: decimal;
    margin-left: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    margin-left: 20px;
}

footer {
    background: #191919;
    display: flex;
    justify-content: center;
}

footer a {
    margin: 16px;
    text-align: center;
    font-size: 13px;
}

footer p {
    margin-top: 2px;
    color: #fff;
}

footer img {
    width: 25px;
    height: 25px;
}

.div1 {
    margin-left: 10px;
}

.header {
    background: #191919;
    padding-inline: 16px
}

.header2 {
    background: #191919;
    padding-inline: 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.title {
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 120px;
    height: auto;
    position: absolute;
    left: 20px;
    top: 15px;
}

.nav-list {
    display: flex;
    list-style: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 80vh;
    background-color: #191919;
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
}

.nav-list a {
    font-size: 24px;
    color: #fff;
    padding-block: 16px;
    opacity: 0;
}

.hero {
    height: calc(100vh - 70px);
    background: center / cover repeat url(imagens/bg.png);
}

.hero2 {
    background: center / cover repeat url(imagens/bg.png);
}

.hamburger {
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
    z-index: 1;
    position: fixed;
    top: 23px;
    right: 16px;
}

.hamburger::before,
.hamburger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

.nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
}

.nav-list li:nth-child(1) a {
    transition: 0.2s 0.1s;
}

.nav-list li:nth-child(2) a {
    transition: 0.2s 0.2s;
}

.nav-list li:nth-child(3) a {
    transition: 0.2s 0.3s;
}

.nav-list li:nth-child(4) a {
    transition: 0.2s 0.4s;
}

.nav-list li:nth-child(5) a {
    transition: 0.2s 0.4s;
}

.nav.active .nav-list a {
    opacity: 1;
}

.nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
}

.nav.active .hamburger::before {
    transform: rotate(135deg);
}

.nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
}

nav a:hover {
    color: #404040;
}

a:hover {
    color: #fff
}

footer p:hover{
    color: gray;
}